<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
</head>
<body>
<table class="table" style="background-color: black;color: white">
    <thead class="thead-dark">
    <tr>
        <th>Opc</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Isaac</td>
        <td>Briceno</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Isaac</td>
        <td>Briceno</td>
    </tr>
    </tbody>
</table>
</body>
</html>