{% extends 'layout.html' %}

{% block add_head %}
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">#}
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.3/css/buttons.bootstrap4.min.css">#}
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">#}
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css">#}
{% endblock %}
{% block content_body %}
    <div class="card card-dark">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt"></i> {{ context.title_card }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="data" class="table text-center table-hover display nowrap" cellspacing="0"
                               width="100%">
                            <thead class="thead-dark">
                            {% block columns %}

                            {% endblock %}
                            </thead>
                            <tbody>
                            {% block rows %}

                            {% endblock %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer clearfix">
            {% block card_footer %}

            {% endblock %}
        </div>
    </div>

{% endblock %}
{% block javascript %}
    {#    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.bootstrap4.min.js"></script>#}

{% endblock %}