{% extends 'list_base.html' %}

{% block columns %}
    <tr>
        <th>Opciones</th>
        <th>Codigo de unidad</th>
        <th>Unidad</th>
        <th>Activo</th>
    </tr>
{% endblock %}

{% block rows %}

    {% for medida in context.medidas %}
        <tr>
            <td>
                <a href="{{ url_for('productos.edit_medidas',pk=medida.id) }}" class="btn btn-sm btn-default"><i
                        style="color: #334a4b" class="fas fa-edit"></i></a>
                <a href="{{ url_for('productos.delete_medidas',pk=medida.id) }}" class="btn btn-sm btn-default"><i
                        style="color: red" class="fas fa-trash-alt"></i></a>
            </td>
            <td>{{ medida.codigo }}</td>
            <td>{{ medida.nombre_unidad }}</td>
            <td>{{ medida.activo }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block card_footer %}
    <a href="{{ add_medidas }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Agregar</a>
    <a href="" class="btn btn-success"><i class="fas fa-sync-alt"></i> Actualizar</a>
{% endblock %}