<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/quagga@0.12.1/dist/quagga.min.js"></script>
    <script src="{{ url_for('prestamos.static',filename='prestamos/prestamos.js') }}"></script>
    <style>
            #contenedor video {
                max-width: 100%;
                width: 100%;
            }

            #contenedor {
                max-width: 100%;
                position: relative;
            }

            canvas {
                max-width: 100%;
            }

            canvas.drawingBuffer {
                position: absolute;
                top: 0;
                left: 0;
            }
        </style>
</head>
<body>
<div id="barcodeScanner">
    <span id='loading-status' style='font-size:x-large'>Loading Library...</span>
</div>

<p id="resultado">Aquí aparecerá el código</p>
<p>A continuación, el contenedor: </p>
<div id="contenedor"></div>
</body>
</html>